.chatHeader-reset {
  display: flex;
  color: gray;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.chatHeader-reset__hash {
  color: gray;
  font-size: 30px;
  padding: 10px;
}

.chatHeader-reset__left > h3 {
  display: flex;
  align-items: center;
  color: white;
}

.chatHeader-reset__right {
  display: flex;
  align-items: center;
  flex: 0.5;
  justify-content: space-between;
}

.chatHeader-reset__right > .MuiSvgIcon-root {
  padding: 5px;
  cursor: pointer;
}

.chatHeader-reset__right > .MuiSvgIcon-root:hover {
  color: rgb(255, 255, 255);
}

.chatHeader-reset__search {
  display: flex;
  align-items: center;
  color: gray;
  background-color: #e5e8ee;
  border-radius: 3px;
  padding: 3px;
}

.chatHeader-reset__search > input {
  background: transparent;
  outline-width: 0;
  color: black;
  border: none;
}

.chatHeader-reset__board {
  display: flex;
  color: white;
  border-radius: 3px;
  padding: 3px;
  justify-content: space-evenly;

  
}
.chatHeader-reset__board > .MuiSvgIcon-root:hover {
  color: rgb(255, 255, 255);
  background-color: grey;
}

.chatHeader-reset_button{
  color: white;
}

.Button{
  color: white;
  background-color: white;
}