.message-reset {
  display: flex;
  align-items: center;
  padding: 20px;
  color: rgb(0, 0, 0);
}

.message-reset__info {
  margin-left: 20px;
  border-radius: 8px;
  background-color: rgb(236, 237, 237);
}

.message-reset__timestamp {
  color: gray;
  margin-left: 20px;
  font-size: x-small;
}
