.sidebar-reset {
  display: flex;
  flex-direction: column;
  flex: 0.20;
  height: 100vh;
  /* background-color: #ffffff; */
  background-color: rgba(255, 255, 255, .7);  
  backdrop-filter: blur(5px);
}

.sidebar-reset__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: rgb(0, 0, 0);
  border-bottom: 3px solid #b3bac9;
}

.sidebar-reset__channels {
  flex: 1;
}

.sidebar-reset__addChannel {
  cursor: pointer;
}

.sidebar-reset__addChannel:hover {
  color: rgb(0, 0, 0);
}

.sidebar-reset__channelsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.sidebar-reset__header {
  display: flex;
  align-items: center;
}

.sidebar-reset__voice,
.sidebar-reset__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-top: 1px solid gray;
}

.sidebar-reset__voiceInfo {
  flex: 1;
  padding: 10px;
}

.sidebar-reset__voiceInfo > h3 {
  color: #000000;
}

.sidebar-reset__voiceInfo > p {
  font-size: smaller;
}

.sidebar-reset__voiceIcons {
  color: #000000;
}

.sidebar-reset__voiceIcons > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebar-reset__profileInfo {
  flex: 1;
  padding: 10px;
}

.sidebar-reset__profileInfo > h3 {
  color: rgb(0, 0, 0);
}

.sidebar-reset__profileIcons > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebar-feature {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
