.sidebarChannel-reset:hover > h4 {
  color: rgb(0, 0, 0);
  background-color: #ffffff1e;
}

.sidebarChannel-reset > h4 {
  display: flex;
  padding-left: 15px;
  align-items: center;
  color: black;
  cursor: pointer;
}

.sidebarChannel-reset__hash {
  font-size: 30px;
  padding: 8px;
}
.whiteboard {
  width: 30px;
  height: 30px;
}
